* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  transition: all 0.2s;
}

header {
  background-color: #2d303a;
  color: #fff;
}
header::after {
  content: "";
  display: block;
  height: 6px;
  background-color: #323746;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.containreContent {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

/* headerContent */
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 35px;
}

.logo__content {
  font-size: 25px;
  font-weight: 700;
  line-height: 6px;
  text-transform: uppercase;
}
.logo__content-redIco {
  color: #c9605c;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 6px;
  text-transform: uppercase;
}
.nav__link:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}

.nav__link,
.navIco {
  margin-right: 14px;
}

.nav__link-active {
  color: #f06c64;
}
.nav__link-active:hover {
  border-bottom: 2px solid #f06c64;
}

.navIco {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #494e62;
  display: inline-block;
}

/* services */
.services {
  padding-top: 66px;
  padding-bottom: 51px;
  background-color: #f2f2f2;
}

.servicesHeader__title {
  font-size: 30px;
  line-height: 18px;
  font-weight: 900;
  color: #666d89;
  margin-bottom: 33px;
}

.servicesHeader__descr {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
}

/* servicesMain */

.servicesMain {
  display: flex;
  flex-wrap: wrap;
  padding-top: 52px;
}

.servicesMain__column {
  flex-basis: 33.3%;
}

.servicesItem {
  display: flex;
  flex-wrap: wrap;
}

.servicesItem__img {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid #656d89;
  border-radius: 50%;
}

.servicesItem__textBox {
  padding-left: 21px;
}

.servicesItem__title {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}

.servicesItem__descr {
  width: 219px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 37px;
}
